.highlight {
    color: #f00; 
}

.highlight { 
    background-color: #ff0; 
}

#container {
    display: inline-block;
    border: 3px solid rgb(105, 45, 45);
    padding: 10px;
    border-radius: 5px;
}

body{
    text-align: center;
}